<div class="text-center">
  <h1>todos List</h1>
</div>
<div class="container">
  <div class="text-center" *ngIf="alltodolist.length <= 0">
    <h4>You haven't assign any task yet !</h4>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let x of alltodolist">
        <td><input type="checkbox" [checked]="x.done" (click)="todoDone(x)"/></td>
        <td style="width:80%">{{x.text}}</td>
        <td>
          <button *ngIf="x.done == false" class="badge badge-success">Active</button>
          <button *ngIf="x.done == true" class="badge badge-info">Done</button>
        </td>
        <td>
          <button class="badge badge-primary" [routerLink]="['/home/edit', x.id]">Edit</button>
        </td>
        <td>
          <button class="badge badge-danger" (click)="deleteTask(x.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
