
<div class="container">
<div class="todoapp">
  <div class="header">
		<h1>todos</h1>
		<form [formGroup]="todoForm" novalidate (ngSubmit)="addTask(todoForm.value)">
		<input class="new-todo" formControlName = "task"
		placeholder="What needs to be done?">
		<button type="submit" class="add">Add</button>
		</form>
	</div>
</div>
<p class='error' *ngIf="todoForm.get('task').hasError('required') &&
			 todoForm.get('task').touched">Please add any task</p>
</div>
<div class="container">
	<h2>Todos List</h2>
	<p *ngFor="let x of alltodolist">{{x.text}}</p>
</div>

